$primary-color: #efefef;
$nav-link-color: #ff5722;
$nav-link-color-hover: #cfd8dc;
$nav-link-border-color: #cfd8dc;
$header-h1-color: #ff5722;
$button-background-color: #0401ac;
$button-border-color: #0401ad;
$button-color: #ffffff;
$main-background-color:#efefef;
$input-color: #cfd8dc;
$input-background-color: #efefef; 
$input-label-color: #777d8b;
$article-background-color: #ffffff;
$heading-color: #757589;
$post-description-color: #bdbdbd;
$post-description-border-color: #cfd8dc;
$post-title-color: #607d8b;
$paragraph-color: #7575a1;

$font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;

$header-background-url: url(../img/header_background_v2.jpg);
$container-width: 960px;
