$primary-color: #ffffff;
$nav-link-color: #ffffff;
$nav-link-color-hover: #607d8b;
$nav-link-border-color: #607d8b;
$header-h1-color: #ffffff;
$button-background-color: #01acac;
$button-border-color: #01acad;
$button-color: #ffffff;
$main-background-color:#ffffff;
$input-color: #000000;
$input-background-color: #ffffff;
$input-label-color: #01acac;
$article-background-color: #efefef;
$heading-color: #000000;
$post-description-color: #e90303;
$post-description-border-color: #607d8b;
$post-title-color: #0097a7;
$paragraph-color: #000000;

$font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;

$header-background-url: url(../img/header_background_v1.jpg);
$container-width: 960px;
